<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/index.css">

    <title>review</title>
</head>
<body>
    <div class="container">
      <div style="text-align:center">
        <h2>Contact Us</h2>
      </div>

      
      <form action="/review" method="post">            
          <tabel celpadding="5" cellspacing="10" height="200" width="500">

            <label for="cname">Client_Name :</label>
            <input type="text" id="cname" name="client_name" placeholder="enter name.."><br><br><br>
            <label for="cname">Contact_Number :</label>
            <input type="number" id="cname" name="contact_number" placeholder="enter the number.."><br><br><br>
            <label for="pname"  maxwidth="50">Product(or)Service_Name :</label>
            <input id="text" id="pname" name="Product_Name" placeholder="enter product nam" maxlength="40" maxwidth="50"   size="50"><br><br><br>
            <label for="location">Location :</label>
            <input id="text" name="location" placeholder="enter location .."><br><br><br>
            <label for="dname">Date_Of_Enquiry :</label>
            <input type="text" id="dname" name="date_of_enquiry" placeholder="enter the date.."><br><br><br>
            <label for="ename">Estimated_Quote :</label>
            <input type="text" id="ename" name="estimated_quote" placeholder="enter the ..."><br><br><br>
            <label for="iname">Invoice_Amount :</label>
            <input type="text" id="iname" name="ivoice_name" placeholder="enter the ..."><br><br><br>
            <label for="pname">Profit :</label>
            <input type="text" id="pname" name="profit" placeholder="enter the ..."><br><br><br>
            

            <input type="submit" value="Submit">
          </form>
        </div>
      </div>
    </div>
    
  
</body>
</html>
        


        
